body{
    margin: 0;
}

/*-----------------------------*/
/*----- Top Header Styles -----*/
/*-----------------------------*/

.header {
    background-color: #aaaaaa;
    overflow: hidden;
}

.logo{
    float: none;
    padding: 1.2% 1% 0.8% 1.2%
}

nav {
    float: right;
    padding-right: 1%;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    padding-left: 90px;
}

nav ul li a {
    font-family: "DejaVu Sans", Helvetica, Arial, sans;
    text-decoration: none;
    font-size: 1em;
    color: #000000;
    padding: 5px;
    border: 1px solid;
}

nav ul li a:hover {
    font-family: "DejaVu Sans", Helvetica, Arial, sans;
    text-decoration: none;
    background-color: #dddddd;
    color: #000000;
}

.active {
    background-color: #dddddd;
}

.menu-trigger {
    display: none;
    font-family: "DejaVu Sans", Helvetica, Arial, sans;
    text-decoration: none;
    font-size: 1.1em;
    color: #000000;
}

/*Phone style*/
@media screen and (max-width: 767px) {

    .logo{
        float: none;
        height: 40px;
        padding: 2%;
    }

    .logo img {
        width: auto;
        height: 100%;
        margin: 0% 44.3%;
    }

    .menu-trigger {
        display: block;
        height: 30px;
    }
    
    .hamburger-menu {
       margin: 1% auto;
       width:30px;
       height:5px;
       background-color:#111;
       border-radius:5px;
       position:relative;
    }

    .hamburger-menu:after, .hamburger-menu:before
    {
        content: '';
        width: 100%;
        height:5px;
        background-color:#111;
        position:absolute;
        border-radius:5px;
    }

    .hamburger-menu:after
    {
        top:10px;
    }

    .hamburger-menu:before
    {
        top:20px;
    }

    nav {
        float: none;
        display: none;
        padding: 0;
    }

    nav ul {
        margin: 0;
        padding-left: 0%;
        padding-bottom: 0%
    }

    nav ul li{
        padding-top: 0;
    }

    nav ul li a {
        padding: 5;
        border: none;
        display: block;
    }
}

/*Tablet style*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    nav ul li {
        padding-left: 53.75px;
    }
}

/*-------------------------*/
/*----- Slider Styles -----*/
/*-------------------------*/

.slider {
    height:400px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.slide {
    width: 100%;
    display: none;
    float: left;
    position: relative;
}

.slideoverlay {
    position: absolute;
    background-color: #444;
    opacity: 0.6;
    bottom: 63.2%;
    color: white;
    width: 100%;
}

.slidetext {
    font-size: 2em;
    padding-right: 10%;
    float: right;
    font-family: "DejaVu Sans", Helvetica, Arial, sans;
}

/*-------------------------*/
/*----- Project Style -----*/
/*-------------------------*/

.projects-container {
    
}

.project {
    float: left;
    width: 33.33%;
}

.project-image {
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 5% 0% 2% 0%;
}

.project-text {
    display: block;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 1% 0% 0% 0%;
    font-family: "DejaVu Sans", Helvetica, Arial, sans;
}

/*Phone style*/
@media screen and (max-width: 767px) {
    .project {
        float: none;
        width: 100%;
    }
}

/*Tablet style*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    .project-text {
        width: 70%;
    }
}